/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
}

/*COMMON*/
#app-wrapper {
    height: 100vh;
    width: 100%;
}

.float {
    float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.i-b {
    display: inline-block;
}

.va-m {
    vertical-align: middle;
}

.mg-lf-7 {
    margin-left: 7px;
}

/*MAIN*/
main {
    height: calc(100% - 100px);
}


/*SIDEBAR*/
.sidebar-container {
    width: 220px;
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 20px;

    color: #6b6b6b;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Mi serve per fare il bordicino verde vicino a home*/
.sidebar-container .logo,
.sidebar-container .playlist-container,
.sidebar-container .download,
.sidebar-container .user {
    padding-left: 20px;
}

.sidebar-container a {
    color: #6b6b6b;
    text-decoration: none;
}

.sidebar-container a:hover {
    color: white;
}

.logo {
    width: 75%;
    margin-bottom: 30px;
}

/*app-sections*/
/*Qui do il padding agli <a> e non alla sezione in sè in modo da
poter fare il bordicino verde su home */
.app-sections a {
    padding-left: 20px;
    display: block;
}

.app-sections li {
    margin-bottom: 8px;
}

.app-sections span {
    margin-left: 5px;
}

.sidebar-image-box {
    width: 23px;
    display: inline-block;
}

.selected {
    color: white;
}

.highlight {
    border-left: 3px solid #adff2f;
}

/*con 14px anziché 20 si allinea perfettamente con le immagini sotto,
in pratica è 20px - 3px di border-left della classe highlight*/
.app-sections a.highlight {
    padding-left: 17px;
}

/*playlist*/
.playlist-container {
    flex-grow: 1;
    min-height: 100px;
    overflow: hidden;

    margin-top: 15px;
}

.playlist-container h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 13px;
}

.playlist-container ul {
    height: 100%;
    overflow: auto;
}

.playlist-container li {
    margin-bottom: 15px;
}

#create-playlist-container {
    display: block;
    margin-bottom: 15px;
}

#create-playlist-container a:hover {
    background-color: white;
}

#plus-btn {
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;

    text-align: center;
}

#plus-btn:hover {
    background-color: white;
}

#plus {
    font-size: 40px;
    font-weight: 500;
    color: black;
    line-height: 35px;
}

#create-playlist-text {
    font-size: 16px;
}

/*download app*/
.download {
    padding-bottom: 7px;
    border-bottom: 1px solid #a3a3a3;
}

.download a {
    display: block;
}

.download-link-img-box {
    width: 15px;
}

/*user profile*/
.user {
    padding-top: 7px;
    padding-bottom: 5px;
}

.user a {
    display: block;
}

.user-img-box {
    width: 23px;
    height: 23px;
}

.user-img-box img {
    height: 100%;
    width: 100%;
    background-color: #a3a3a3;
    border-radius: 50%;
}

.user span {
    color: white;
    font-size: 14px;
}

/*MAIN CONTENT*/
.main-content {
    width: calc(100% - 220px);
    height: 100%;
    overflow: auto;
    padding-top: 105px;

    background-color: #141922;
    /*TEST*/
    color: white;
}

/*FOOTER*/
footer {
    clear: both;
    height: 100px;
    width: 100%;
    overflow: hidden;

    background-color: #282828;
    /*TEST*/
    color: white;
}

/*FIXED TOP BUTTON*/
#fixed-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    text-align: right;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 87.17px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.4)
}

#fixed-btn a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid wheat;
    border-radius: 50px;

    display: block;
}

#fixed-btn a:hover {
    font-size: 14px;
}